* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body, input, button, textarea, select {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #121214;
  color: #a8a8b3;
}