.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.nav a {
  color: #8257e5;
}

.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 18px;
}

.content p {
  margin: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.footer button {
  padding: 1rem 2rem;
  background: #202024;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;

  color: #996dff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;

  padding: 120px;
  border-radius: 5px;
  color: #202024;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);  
  position: fixed;
  inset: 0;
}

.closeModalButton {
  width: 100%;
  padding: 12px 20px;
  margin-top: 16px;
  background-color  : #8257e5;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}