.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.nav a {
  color: #8257e5;
}

.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 18px;
}

.content p {
  margin: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;
}

.footer a {
  padding: 1rem 2rem;
  background: #202024;
  border-radius: 5px;

  color: #996dff;
}